[user]
	name = dmnlk
	email = seikima2demon@gmail.com

[gui]
	encoding = utf-8
[color]
	branch      = true
	diff        = true
	grep        = true
	interactive = true
	pager       = true
	status      = true

[color "branch"]
	current = green reverse
	local   = green
	remote  = yellow

[color "status"]
	changed   = green
	untracked = cyan
	updated   = yellow

[color "grep"]
	filename   = cyan
	function   = yellow
	linenumber = yellow
	match      = yellow reverse

[core]
	quotepath = false
	whitespace = cr-at-eol
	pager = $PAGER
	precomposeunicode = true
	excludesfile = ~/.global.gitignore

[push]
	default = simple

[branch]
	autosetuprebase = always

[grep]
	lineNumber = true
	patternType = perl

[rebase]
	stat = true
[pager]
	log = diff-highlight-wrapper
	show = diff-highlight-wrapper
	diff = diff-highlight-wrapper
	grep = false


[github]
	user = aereal

[ghq]
	root = ~/src
